# General
ENV=development
PORT=5000
SERVER_URL=http://127.0.0.1:5000
WHITELIST_IP=0.0.0.0
CONNECTION_TIMEOUT=30

# jwt
JWT_SECRET_KEY=LOREMIPSUM

# db
DB_URL=mongodb://localhost:27017/test

# aws
AWS_ACCESS_KEY_ID=example
AWS_SECRET_ACCESS_KEY=example
AWS_REGION=test-test-1
AWS_BUCKET_NAME=example

# email
EMAIL_USERNAME=john@doe.com
EMAIL_PASSWORD=johndoe
EMAIL_SENDER_EMAIL=john@doe.com
EMAIL_DISPLAY_NAME="John Doe"
EMAIL_DEV_RECIPIENT=john@doe.com

# Home creds:
SUPER_ADMIN_USERNAME=example@example.com
HOME_ORGANIZATION=68b59fbf77004930f5e1e629

# kafka config:
KAFKA_BROKER=

# redis config:
REDIS_HOST="redis1234"
REDIS_PORT=6379

# security:
SECURE_ENCRYPTION_KEY=00112233445566778899aabbccddeeff00112233445566778899aabbccddeeff
SECURE_IV=aabbccddeeff00112233445566778899
